/* ------- RESETS -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

/* ------- BODY MAIN -------- */
body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  padding: 0 20px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* ------- HEADER -------- */
header {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 170px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 1000;
  box-sizing: border-box;
  position: absolute;
}

.logo img {
  height: 32px;
}

.nav-links {
  display: flex;
  gap: 50px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: white;
}

/* ------- BANNER SECTION -------- */
.banner-section {
  color: white;
  width: 100%;
  height: 1093px;
  padding: 100px 20px;
  text-align: center;
  position: relative;
  background-image: url(images/background.png);
}

.maintitle {
  margin-bottom: 50px;
}

.maintitle h1 {
  margin-top: 130px;
  font-size: 120px;
  font-weight: 700;
}

.maintitle p {
  word-spacing: 60px;
  font-size: 16px;
  margin-bottom: 40px;
}

.maintitle button,
.membership-section button {
  background-color: #c271ff;
  font-size: 14px;
  color: white;
  padding: 15px 22px;
  text-transform: uppercase;
  border-style: none;
  box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.pro-container {
  margin-top: 130px;
  margin: 0 50px;
}

.pro-container h2 {
  font-size: 32px;
  margin-bottom: 85px;
  font-weight: lighter;
}

.pro-section {
  display: flex;
  justify-content: space-around;
  margin: 0 40px 0 40px;
}

.pro-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.highlight {
  font-size: 32px;
  color: #c271ff;
}

.pro-cards img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.pro-cards h3 {
  font-size: 18px;
  font-weight: 600;
}

.pro-cards p {
  font-size: 16px;
  font-weight: lighter;
  line-height: 24px;
}

/* ------- QUOTE SECTION -------- */
.quote-section {
  background-color: #c271ff;
  width: 100%;
  height: 392px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

.quote-blockquote {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  width: 60%;
}

.quote-blockquote p {
  line-height: 33px;
}

.quote-container p,
blockquote {
  color: white;
}

blockquote {
  margin-bottom: 20px;
  line-height: 33px;
}

/* ------- VIDEO SECTION -------- */
.video-section {
  height: 624px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-section h1 {
  margin: 80px 0;
  font-size: 32px;
  font-weight: 100;
}

.video-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 80px;
}

.video-cards {
  width: 255px;
}

.video-cards img {
  width: 255px;
  height: 154px;
}

.video-cards h2 {
  font-weight: 700;
  font-size: 16px;
}

.video-cards p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(7, 22, 41, 0.5016);
}

.video-avatar {
  display: flex;
  gap: 15px;
  font-size: 14px;
  align-items: center;
  margin: 10px;
}

.video-avatar h3 {
  font-weight: 600;
  color: #c271ff;
}

.video-cards h2,
.video-cards p,
.video-stars {
  margin: 10px;
  line-height: 24px;
}

.video-avatar img {
  width: 30px;
  height: 30px;
}

.video-stars {
  display: flex;
  gap: 10px;
  color: #c271ff;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  margin: 10px;
}

.video-stars p {
  margin-left: auto;
  color: #c271ff;
}

.video-stars img {
  width: 15px;
  height: 15px;
}

/* ------- MEMBERSHIP SECTION -------- */
.membership-section {
  width: 100%;
  background-color: #071629;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  gap: 50px;
}

.membership-section h1 {
  font-size: 30px;
  font-weight: 100;
}

.membership-container {
  width: 100%;
  padding: 0 130px;
  display: flex;
  justify-content: space-around;
}

.membership-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 257px;
  padding: 0 20px;
  text-align: center;
}

.membership-card img {
  width: 44px;
  height: 35px;
}

.membership-card h2 {
  font-weight: 600;
  font-size: 16px;
}

.membership-card p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

/* ------- FAQ SECTION -------- */
.faq-section {
  height: 858px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  gap: 80px;
}

.faq-section h1 {
  font-weight: 300;
  font-size: 60px;
}

.faq-container {
  width: 920px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.faq-row {
  display: flex;
  justify-content: space-between;
}

.faq-row h2 {
  font-weight: 700;
  font-size: 16px;
}

.faq-row p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(7, 22, 41, 0.5016);
  line-height: 24px;
}

.faq-card {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 40px;
}

/* ------- FOOTER SECTION -------- */
footer {
  width: 100%;
  height: 249px;
  background-color: #071629;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 210px 20px 150px;
}

.footer-logo img {
  width: 169px;
  height: 30px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 55px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-logo {
}

.footer-social {
  display: flex;
  gap: 20px;
}

.footer-social img {
  width: 30px;
  height: 30px;
}

.copyright {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  margin-bottom: 15px;
}
